/* -----------     Common CSS    ----------- */
.container{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}
.row{
  display: flex;
  gap: 20px;
}
.col {
  flex-grow: 1;
}
.text-left{
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.flex-left,
.flex-right,
.flex-center,
.flex-middle,
.flex-top,
.flex-bottom {
  display: flex;
}
.flex-left,
.flex-right ,
.flex-center {
  width: 100%;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-middle,
.flex-top,
.flex-bottom {
  height: 100%;
}

.flex-middle{
    height: 100%;
    align-items: center;
}
.flex-top {
  height: 100%;
  align-items: flex-start;
}
.flex-bottom {
  height: 100%;
  align-items: flex-end;
}