/* ----------     App CSS     ----------- */
.site-wrapper>div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.main-area {
  flex-grow: 1;
  padding: 50px 0;
}
.home-image {
  height: 500px;
}
